.login-bg {
    background-color: #263238;
    height: 100vh;
}

.login-body {
    background-color: #FFFFFF;
    width: 220px;
    height: 220px;
    padding: 35px 20px;
    border-radius: 3px;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    /* margin: auto; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 3px #1B2327;
}

.login-heading {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); */
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: lighter;
}

input[type=text] {
    margin-top: 15px;
    /* background-color: #ECEFF1;
    color: #ECEFF1; */
    /* border: none; */

    background-color: #ECEFF1;
    color: black;
    border-radius: 4px;
    padding: 10px 10px;
    border: none;
    width: 175px;
    padding-left: 35px;
}
input[type=password] {
    margin-top: 10px;
    background-color: #ECEFF1;
    color: black;
    border-radius: 4px;
    padding: 10px 10px;
    border: none;
    width: 175px;
    padding-left: 35px;
}
.login-email i {
    position: absolute;
    left: 30px;
    top: 104px;
}
.login-pass i {
    position: absolute;
    left: 30px;
    top: 150px;
}
.login-btn {
    text-align: center;
    margin-top: 20px;
}
.login-btn input {
    background-color: #0277BD;
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 3px;
}

.errorMSG {
    color: red;
}